/*AUTHORS*/

.author-container {
  max-width: 1200px;
  margin: 0 auto;
}

.author-container h1 {
  font-size: xx-large;
  font-weight: 600;
  text-align: center;
  padding: 20px;
}

.author-container img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards-item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards-item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards-item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card-content {
  padding: 1rem;
}

.card-title {
  font-size: large;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0px;
}

.card-text {
  font-size: medium;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}

.card-text span {
  font-weight: bold;
  color: black;
}

.card-text a:focus,
.card-text a:hover {
  text-decoration: none;
}
